body,
html,
.wrapper {
  min-height: 100%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $color-primary;
}

.page-section {
  padding-left: 16px;
  padding-right: 16px;
  @include respond-to(lg) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.form-col {
  display: flex;
  gap: 16px;
  &--stacked {
    flex-direction: column;
  }
}

.form-outer {
  flex: 1;
  margin-bottom: 24px;

  &--margin-sm {
    margin-bottom: 8px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-inner {
  display: flex;
  width: 100%;
  align-items: center;
}

.form-label {
  display: flex;
  align-items: center;
  line-height: 24px;
  font-size: 11.22px;
  font-weight: 300;
  color: $text-muted;
}

.form-control {
  width: 100%;
  font-size: 12.77px;
  font-weight: 300;
  text-align: left;
  border: solid 1px $border;
  border-radius: $border-radius-sm;
  color: $text-body;
  padding: 16px;
  background-color: $bg-body;
  transition: all 200ms ease-in-out;
  min-width: 0;
  &:focus {
    background-color: $color-white;
  }
}

.form-help {
  font-size: 10px;
  font-weight: 300;
  color: $text-muted;
  display: block;
  padding-top: 5px;
}

.btn {
  border: solid 1px;
  font-size: 12.77px;
  font-weight: 500;
  border-radius: 24px;
  width: 100%;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &-outer {
    display: flex;
    flex: 1;
  }

  &__submit {
    background-color: $color-primary;
    color: $color-white;
    border-color: $color-primary;
  }

  &__cancel {
    background-color: $color-white;
    color: $color-primary;
    border-color: $border;
  }
}
